@import "./variables.scss";
@import "./general.scss";

.about {
  &__title {
    text-align: center;
  }
  &__article {
    font-family: sans-serif;
    color: $text;
    font-size: 28px;
    text-align: justify;
  }
}
